@model IEnumerable<ElectroCardsWebApplicationVariant7.Models.PatientData>
@{
    ViewData["Title"] = "SearchForPatientsByRecordingDate";
}





<form asp-controller="Patients" asp-action="SearchForPatientsByRecordingDate" method="get">
    <p>
        Дата записи: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <td>
                Имя
            </td>
            
            <td>
                Фамилия
            </td>
            <td>
               Отчество
            </td>
            <td>
                Дата рождения
            </td>
            <td>
                Телефон
            </td>
            <td>
                Место работы
            </td>
            <td>
                Дата записи
            </td>
            <td>
                Диагноз
            </td>
            <td>
                Лекарство(процедура)
            </td>
            <td>
                Способ применения
            </td>
            <td>
                Номер доктора
            </td>
            <td>
                Номер больничного листа
            </td>
            <td>
                Период действия больничного листа
            </td>
            <td>
                Код диагноза
            </td>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patronymic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkPlace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecordDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diagnose)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medicine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WayOfUsingMedicine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SickLeaveNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SickLeavePeriod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiagnoseCode)
            </td>
        </tr>
        }
    </tbody>
</table>
