@model IEnumerable<ElectroCardsWebApplicationVariant7.Models.PatientData>

@{
    ViewData["Title"] = "";
}




<form asp-controller="Patients" asp-action="SearchForPatientsByRecordingDate" method="get">
    <p>

        <select asp-for="PatientRecordDate" asp-items="Model.RecordDate">
            <option value="">All</option>
        </select>

        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patronymic)
            </th>      
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Patronymic)
                </td>
                
      
            </tr>
        }
    </tbody>
</table>
